*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: blue;
  border-bottom: solid 1px blue;
}
.navbar{
  padding: 1.25em;
  width: 100%;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav ul{
  display: flex;
}

.nav-item{
  margin-left: 1.25em;
  list-style: none;
}

.landing{
  display: flex;
  align-items: center;
  height: 80vh;
}

.landing-title{
  width: 80%;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
}

span{
  color: blue;
}