*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

section{
  padding: 2em;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: cornflowerblue;
  border-bottom: solid 1px cornflowerblue;
}
.navbar{
  padding: 1em;
  width: 100%;
  position: sticky; top: 0;
  background-color: white;
}

nav{
  display: flex;
  animation: fadeIn 5s;
  justify-content: space-between;
}

nav ul{
  display: flex;
  justify-content: right;
}

.nav-item{
  margin: 0 2em;
  list-style: none;
  font-weight: bold;
}

.logo {
  height: 1.5em;
}

.landing{
  display: flex;
  align-items: center;
  height: 90vh;
  animation: fadeIn 5s;
}

.landing-title{
  width: 80%;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
}

span{
  color: cornflowerblue;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#about{
  min-height: 100vh;
  background-color: cornflowerblue;
  color: white;
}

.section-title{
  font-size: 2rem;
  margin: 1em;
}

.flex{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 2em;
}

.about-content{
  width: 50%;
}

.about-text{
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}

.me{
  width: 50%;
  margin-left: 1em;
}

.project-content{
  width: 50%;
}

.project-title{
  padding: 0.5em;
}

.source-btn{
  border: solid 2px cornflowerblue;
  background-color: white;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  color: cornflowerblue;
  text-transform: uppercase;
}

.source-btn:hover{
  opacity: 60%;
}

.project-image{
  width: 31.25em;
  border-radius: 10px;
}

.project-image:hover{
  opacity: 60%;
}

#contact{
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  padding: 3em;
  font-size: 1.5rem;
}

.contact-info{
  list-style: none;
  margin: 1em;
}

.contact-item{
  padding: 0.3em;
}

.contact-link{
  color: white;
  font-weight: bold;
}

.contact-link:hover{
  color: white;
  opacity: 60%;
  border-bottom: solid white 1px;
}

.nav-toggle{
  display: none;
}

@media (max-width: 800px){

  .navbar{
    padding: 0.75em;
  }

  nav ul{
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    display: none;
    justify-content: center;
    margin-left: 1em;
  }

  .nav-item{
    margin: 1em 0;
  }

  .nav-toggle{
    border: none;
    background: transparent;
    display: block;
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    font-size: 2em;
    cursor: pointer;
  }

  .nav-toggle img{
    width: 1em;
  }

  .show{
    display: flex;
  }


  .flex{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 2em;
  }

  .about-content{
    width: 100%;
  }

  .me{
    width: 100%;
    margin-top: 1em;
  }

  .project-content{
    width: 100%;
  }

  .project-image{
    width: 100%;
    margin-top: 1em;
  }

  .source-btn{
    border: solid 2px cornflowerblue;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    color: cornflowerblue;
    text-transform: uppercase;
  }
}